{
	"presets": ["env", "react"],
	"plugins": [
		["import", { "libraryName": "react-hot-loader/babel"}],
		["import", { "libraryName": "antd", "style": "true" }],
	]
}
/* "plugins": [
  ["import", { "libraryName": "antd", "libraryDirectory": "lib"}, "ant"],
  ["import", { "libraryName": "ant-mobile", "libraryDirectory": "lib"}, "ant-mobile"]
] */
/* "plugins": ["react-hot-loader/babel"] */
